<h1 id="tableLabel">Circuit Breaker Pattern</h1>

<p>Description of pattern goes here</p>

<p *ngIf="!cbstate"><em>Loading...</em></p>

<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="enableCircuitBreaker" [checked]="cbstate.circuitBreakerEnabled">
  <label class="custom-control-label" for="enableCircuitBreaker">Use circuit-breaker</label>
</div>
<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="enableService" [checked]="cbstate.serviceEnabled">
  <label class="custom-control-label" for="enableService">Service enabled</label>
</div>
<hr />
<p>
  <b>Circuit breaker status: {{cbstate.circuitBreakerClosed ? "Closed" : "Open"}}</b>
</p>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        Client 1
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary" aria-pressed="false" autocomplete="off">
          Execute request
        </button>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Executed Date: </li>
        <li class="list-group-item">Response Time: </li>
        <li class="list-group-item">Status: </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        Client 2
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary" aria-pressed="false" autocomplete="off">
          Execute request
        </button>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Executed Date: </li>
        <li class="list-group-item">Response Time: </li>
        <li class="list-group-item">Status: </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        Client 3
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary" aria-pressed="false" autocomplete="off">
          Execute request
        </button>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Executed Date: </li>
        <li class="list-group-item">Response Time: </li>
        <li class="list-group-item">Status: </li>
      </ul>
    </div>
  </div>
</div>
<hr />

